@page
@model SteveGLotto.Pages.EuroLSNumbersPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>euro lottery lucky star numbers</h2>
<br />
<p>
    <a class="btn btn-success" asp-page="Create">create euro lottery lucky star number</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EuroLSNumbers[0].EuroLSNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EuroLSNumbers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EuroLSNumber)
            </td>
            <td>
                <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.EuroLSNumberID">edit</a>
                @*<a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.EuroLSNumberID">details</a>*@
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.EuroLSNumberID">delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
