@page
@model SteveGLotto.Pages.EuroDrawNumbersPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>euro numbers</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EuroDrawNumbers[0].EuroNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EuroDrawNumbers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EuroNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EuroNumberID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EuroNumberID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EuroNumberID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
