@page
@model SteveGLotto.Pages.LottoNumbersPages.IndexModel

@{
}

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LottoNumbers[0].LottoNumOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LottoNumbers[0].LottoNumTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LottoNumbers[0].LottoNumThree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LottoNumbers[0].LottoNumFour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LottoNumbers[0].LottoNumFive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LottoNumbers[0].LottoNumSix)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LottoNumbers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LottoNumOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LottoNumTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LottoNumThree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LottoNumFour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LottoNumFive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LottoNumSix)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LottoDrawID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LottoDrawID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LottoDrawID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
